In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('pima-indians-diabetes.data.csv',names=['Embarazos','Glucosa','PresionSangre', 
                                                    'EspesorPiel', 'Insulina', 'BMI',
                                                    'PedigriDiabetesF', 'Edad', 'Clase'])

In [22]:
df.head(10)

,Embarazos,Glucosa,PresionSangre,EspesorPiel,Insulina,BMI,PedigriDiabetesF,Edad,Clase
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [23]:
df[:3]

,Embarazos,Glucosa,PresionSangre,EspesorPiel,Insulina,BMI,PedigriDiabetesF,Edad,Clase
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [34]:
df.iloc[[2],[1]]

   Glucosa
2      183

In [35]:
df.iloc[:, [1]]

     Glucosa
0        148
1         85
2        183
3         89
4        137
..       ...
763      101
764      122
765      121
766      126
767       93

[768 rows x 1 columns]

In [28]:
df.loc[:,'Glucosa']

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucosa, Length: 768, dtype: int64

In [29]:
df.loc[2,'Glucosa']

183

In [31]:
df.loc[[2], ['Glucosa']]

   Glucosa
2      183

In [32]:
df.ix[2]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [ ]:
df.iloc[2]